name: Build images

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
  workflow_dispatch:

env:
  DOCKER_REPO: ${{ vars.DOCKERHUB_ORG }}/${{ vars.REPOSITORY_NAME || 'kaniko' }}

permissions: {}

jobs:
  build-images:
    concurrency:
      # If a previous run is ongoing with the same head_ref (it's a run on the
      # same PR) then cancel it to save time. If it isn't a PR, only cancel the
      # previous run if it's on the same commit SHA. This prevents a run for a
      # commit push from cancelling a previous commit push's build, since we
      # want an image built and tagged for each commit.
      group: build-images-${{ matrix.image }}-${{ github.head_ref || github.sha }}
      cancel-in-progress: true

    permissions:
      contents: read  # Read the repo contents.
      id-token: write # Produce identity token for keyless signing.
      packages: write # push to ghcr registry

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image:
          - executor
          - executor-debug
          - executor-slim
          - warmer
          - bootstrap

        include:
          - image: executor
            target: kaniko-executor
            platforms: linux/amd64,linux/arm64,linux/s390x,linux/riscv64,linux/ppc64le
            tag: ${{ github.sha }}
            release-tag: latest

          - image: executor-debug
            target: kaniko-debug
            platforms: linux/amd64,linux/arm64,linux/s390x,linux/riscv64,linux/ppc64le
            tag: ${{ github.sha }}-debug
            release-tag: debug

          - image: executor-slim
            target: kaniko-slim
            platforms: linux/amd64,linux/arm64,linux/s390x,linux/riscv64,linux/ppc64le
            tag: ${{ github.sha }}-slim
            release-tag: slim

          - image: warmer
            target: kaniko-warmer
            platforms: linux/amd64,linux/arm64,linux/s390x,linux/riscv64,linux/ppc64le
            tag: ${{ github.sha }}-warmer
            release-tag: warmer

          - image: bootstrap
            target: kaniko-debug-2
            platforms: linux/amd64,linux/arm64,linux/s390x,linux/riscv64,linux/ppc64le
            tag: ${{ github.sha }}-bootstrap
            release-tag: bootstrap

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      # Setup auth if not a PR.
      - if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Don't build for all platforms on PRs.
      - id: platforms
        run: |
          event="${{ github.event_name }}"
          if [[ "$event" == "pull_request" ]]; then
            echo "platforms=linux/amd64" >> $GITHUB_OUTPUT
          else
            platforms="${{ matrix.platforms }}"
            echo "platforms=${platforms}" >> $GITHUB_OUTPUT
          fi

      # Build and push with Docker.
      - if: github.event_name != 'pull_request'
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          platforms: ${{ matrix.platforms }}

      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Set build timestamp
        id: build-time
        run: echo "now=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT

      - name: Define proper repo
        id: repo
        run: |
          case "${{ github.ref }}" in
            refs/tags/v*)
              IMAGE_NAME=ghcr.io/${{ github.repository }}
              ;;
            *)
              IMAGE_NAME=ghcr.io/${{ github.repository }}-dev
            ;;
          esac
          echo "image_name=$IMAGE_NAME" >> $GITHUB_OUTPUT

      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build-and-push
        with:
          context: .
          file: ./deploy/Dockerfile
          platforms: ${{ steps.platforms.outputs.platforms }}
          push: ${{ github.event_name != 'pull_request' }} # Only push if not a PR.
          tags: ghcr.io/${{ github.repository }}-dev:${{ matrix.tag }}
          no-cache-filters: certs
          # https://github.com/docker/build-push-action/blob/master/docs/advanced/cache.md#github-cache
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: ${{ matrix.target }}
          annotations: |
            org.opencontainers.image.created=${{ steps.build-time.outputs.now }}
            org.opencontainers.image.authors=${{ github.actor }}
            org.opencontainers.image.url=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
            org.opencontainers.image.documentation=${{ github.server_url }}/${{ github.repository }}/#readme
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.vendor=${{ github.repository_owner }}
            org.opencontainers.image.licenses=Apache-2.0
            org.opencontainers.image.title=${{ env.DOCKER_REPO }}:${{ matrix.release-tag }}
            org.opencontainers.image.version=${{ startsWith(github.ref, 'refs/tags/v') && github.ref_name || github.sha }}

      # If a tag push, distribute to other registries
      - if: startsWith(github.ref, 'refs/tags/v')
        uses: imjasonh/setup-crane@31b88efe9de28ae0ffa220711af4b60be9435f6e # v0.4

      - if: startsWith(github.ref, 'refs/tags/v')
        name: Apply release tags
        run: |
          tag=${GITHUB_REF/refs\/tags\//}

          # Tag :latest, :debug, :slim
          crane cp ghcr.io/${{ github.repository }}-dev@${{ steps.build-and-push.outputs.digest }} \
              ghcr.io/${{ github.repository }}:${{ matrix.release-tag }}

          if [[ "${{ matrix.release-tag }}" == "latest" ]]; then
            # Tag :latest images as :v1.X.Y
            crane cp ghcr.io/${{ github.repository }}-dev@${{ steps.build-and-push.outputs.digest }} \
                ghcr.io/${{ github.repository }}:${tag}
          else
            # Or tag :v1.X.Y-debug and :v1.X.Y-slim
            crane cp ghcr.io/${{ github.repository }}-dev@${{ steps.build-and-push.outputs.digest }} \
                ghcr.io/${{ github.repository }}:${tag}-${{ matrix.release-tag }}
          fi

      - if: startsWith(github.ref, 'refs/tags/v')
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - if: startsWith(github.ref, 'refs/tags/v')
        name: Distribute to Docker hub
        run: |
          tag=${GITHUB_REF/refs\/tags\//}

          # Tag :latest, :debug, :slim
          crane cp ghcr.io/${{ github.repository }}-dev@${{ steps.build-and-push.outputs.digest }} \
              ${{ env.DOCKER_REPO }}:${{ matrix.release-tag }}

          if [[ "${{ matrix.release-tag }}" == "latest" ]]; then
            # Tag :latest images as :v1.X.Y
            crane cp ghcr.io/${{ github.repository }}-dev@${{ steps.build-and-push.outputs.digest }} \
                ${{ env.DOCKER_REPO }}:${tag}
          else
            # Or tag :v1.X.Y-debug and :v1.X.Y-slim
            crane cp ghcr.io/${{ github.repository }}-dev@${{ steps.build-and-push.outputs.digest }} \
                ${{ env.DOCKER_REPO }}:${tag}-${{ matrix.release-tag }}
          fi

      # Sign images if not a PR.
      - if: github.event_name != 'pull_request'
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - if: github.event_name != 'pull_request'
        run: |
          cosign sign --yes \
              ghcr.io/${{ github.repository }}-dev@${{ steps.build-and-push.outputs.digest }}

      - if: startsWith(github.ref, 'refs/tags/v')
        name: Sign Releases
        run: |
          cosign sign --yes \
              ghcr.io/${{ github.repository }}@${{ steps.build-and-push.outputs.digest }}
          cosign sign --yes \
              ${{ env.DOCKER_REPO }}@${{ steps.build-and-push.outputs.digest }}
