name: Nightly Vulnerability Scan

on:
  schedule:
    # Schedule to run every night at midnight
    - cron: '0 0 * * *'

jobs:
  vulnerability-scan:

    permissions:
      packages: read # pull image from ghcr registry
      issues: write # create issues via gh CLI

    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up Grype
        run: |
          # Install Grype
          curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin

      - name: Get latest commit SHA of Kaniko project
        id: get-commit
        run: |
          LATEST_COMMIT_SHA=$(git rev-parse HEAD)
          echo "Latest commit SHA: $LATEST_COMMIT_SHA"
          echo "::set-output name=sha::$LATEST_COMMIT_SHA"

      - name: Scan the latest CI/CD image
        run: |
          IMAGE_ID="ghcr.io/${{ github.repository }}-dev:${{ steps.get-commit.outputs.sha }}"
          echo "Scanning image $IMAGE_ID"
          grype $IMAGE_ID > grype-output.txt

      - name: Check for vulnerabilities and create an issue
        run: |
          if grep -q 'No vulnerabilities found' grype-output.txt; then
            echo "No vulnerabilities found."
          else
            gh issue create --title "Vulnerabilities Found in Nightly Scan" --body "Vulnerabilities found in the latest image scan. Please check the attached report." --body-file grype-output.txt
          fi
